bin/
docs/docs/
docs/manual/javascripts/
docs/site/
libs/build/
projects/*
!projects/benchmark/
!projects/benchmark/**
projects/benchmark/runs/
projects/benchmark/scripts/__pycache__/
!projects/validation/
!projects/validation/**
!projects/examples/
!projects/examples/**
!projects/hermes/
projects/hermes/*
!projects/hermes/scripts/
!projects/hermes/scripts/**
projects/hermes/scripts/*.yaml
src/*.o
src/atmfmt
src/brightness
src/climatology
src/day2doy
src/doy2day
src/filter
src/formod
src/hydrostatic
src/interpolate
src/invert
src/jsec2time
src/kernel
src/limb
src/matfmt
src/nadir
src/obs2spec
src/obsfmt
src/planck
src/raytrace
src/retrieval
src/tblfmt
src/tblgen
src/tblrdc
src/time2jsec
src/zenith
tab/
tests/*/data/
