bin/
docs/docs/
docs/site/
libs/build/
projects/
!projects/limb/
!projects/nadir/
src/*.o
src/brightness
src/climatology
src/filter
src/formod
src/hydrostatic
src/interpolate
src/invert
src/jsec2time
src/kernel
src/limb
src/nadir
src/obs2spec
src/planck
src/raytrace
src/retrieval
src/tblfmt
src/tblgen
src/time2jsec
tab/
